<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
</head>
<body>
<h1>bài tập Phân tích dữ liệu</h1>
<ul>
    <li><a href="/devhanoisaigoshanghai">1. Trả về danh sách 'developer' ở các thành phố Hanoi, Saigon, Shanghai</a>
    </li>
    <li><a href="/youngestdevs">2. Tìm ra thành phố có độ tuổi trung bình của lập trình viên trẻ nhất</a></li>
    <li><a href="/malefemaleratio">3. Liệt kê tỷ lệ nam/nữ ở từng thành phố</a></li>
    <li><a href="/avgsalarypeopleabove30">4. Tính mức lương trung bình của tất cả những người trên 30 tuổi</a></li>
</ul>
</body>
</html>